.navbar
{
    background-color: #57b846;

}
.btn-success
{
    border-radius: 25px;
    background-color: #57b846;
    color: #eeeeee;
}
.btn-download
{
    border-radius: 25px;
    background-color: #2e6fec;
    color: #eeeeee;
}