.navbar
{
    background-color: #57b846;

}
.btn-success
{
    border-radius: 25px;
    background-color: #57b846;
    color: #eeeeee;
}
.bd-hide
{
    border: #c80000;
}
.btn-danger
{
    border-radius:25px;
}
.btn-download{
    border-radius:25px;
    background-color: #484aff;
    color: #eeeeee;
}
.col-11{
    padding-bottom: 10px;
}
nav.navbar.navbar-light.bg-white {
    padding-bottom: 10px;
    padding-left: 10px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
