<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>ToDo list application</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-">
    <a class="navbar-brand" th:href="@{/}">ToDoList</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button sec:authorize="isAuthenticated()" class="btn link my-2 my-sm-0">Logout</button>
        </form>
    </div>
</nav>
<div class="container-fluid" th:action="@{/tasks/categoryId={id}(id=${category.id})}" th:method="get">
    <div class="row">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none" data-toggle="modal" data-target="#exampleModal">
                    <span class="fs-5 d-none d-sm-inline font-weight">Создать категию</span>
                </a>
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline font-weight-bold">Категории задач</span>
                </a>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="category">
                    <li class="nav-item ">
                        <a href="/tasks/categoryId=0" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Все задачи</span>
                        </a>
                    </li>
                    <li class="nav-item " th:each="category : ${categories}">
                        <a th:href="@{/tasks/categoryId={category_id}(category_id=${category.getId()})}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"
                                                                th:text="${category.getName()}"
                        ></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Создание категории</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/tasks}" th:object="${category}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Название категории</label>
                                <input type="text" class="form-control" placeholder="Введите название" th:field="*{name}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row py-4">
                <nav class="navbar navbar-light bg-white">
                <div class="container">
                    <form class="d-flex" th:action="@{/tasks/search}" method="get">
                        <input class="form-control me-2" name="taskName" th:value="${taskName}" type="text" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                        <input class="btn btn-outline-success" type="reset" value="Сбросить">
                    </form>
                </div>
            </nav>
                <div class="col-12">
                    <a class="btn btn-success" th:href="@{/task/create}">Add Todo</a>
                </div>

                <div class="col-12">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">User</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${tasks.isEmpty()}">
                            <td class="text-center" colspan="5">No data</td>
                        </tr>
                        <tr th:each="task : ${tasks}">
                            <th scope="row" th:text="*{task.id}"></th>
                            <th scope="row" th:text="*{task.name}"></th>
                            <th scope="row" th:text="*{task.description}"></th>
                            <th scope="row" th:text="*{task.username}"></th>
                            <td class="bd-hide">
                                <a class="btn btn-success" th:href="@{/task/edit/{id}(id=${task.id})}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="btn btn-danger" th:href="@{/task/delete/{id}(id=${task.id})}"><i
                                        class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>